<div class="container text-center">
	<div class="row justify-content-between">
		<div class="col-auto me-auto">
			<h1>Here are all your current budgets</h1>
		</div>
		<div class="col-auto">
			<%= link_to "New budget", new_wallet_path, class: 'btn btn-primary btn-lg' %>
		</div>
	</div>
</div>
<% @wallets.each do |wallet| %>
	<div class="accordion" id="accordionExample">
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingOne">
				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					<%= wallet.budget %>
				</button>
			</h2>
			<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<%= wallet.start_date %> - <%= wallet.end_date %>
				</div>
			</div>
		</div>
	</div>
	</br>
<% end %>